KBQA/actorName.txt 
KBQA/movieName.txt
*.json
*.pyc
semantic_search/elasticsearch/data/*.txt
semantic_search/elasticsearch/data/attr_ac.pkl 
ie/deepdive/udf/bazaar/*
ie/deepdive/*.txt
ie/deepdive/run/*
ie/deepdive/*.csv
*.txt
*.csv
ie/craw/craw_all_baidu/craws/*
ie/re_cnn_att/data/nyt/*.pyc
ie/re_cnn_att/data/nyt/*.json
ie/re_cnn_att/data/nyt/*.tsv
ie/re_cnn_att/data/nyt/kb_manual/*
ie/re_cnn_att/data/nyt/heldout_relations/*
ie/re_cnn_att/checkpoint/*
ie/re_cnn_att/_processed_data/*
ie/re_cnn_att/summary/*
